 font-family: Arial, "Times New Roman",
          Times, serif;
		  color: Beige;
    background-color: #FAEBD7 }
	 ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
	position: absolute;
    top: 2em;
    left: 1em;
    width: 10em }
	h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
		ul.navbar li {
    background: white;
    margin: 0.7em 0;
    padding: 0.5em;
    border-right: 1em solid black }
  ul.wrapper a {
    text-decoration: none }
  a:link {
    color: FloralWhite }
  a:visited {
    color: FireBrick }
	address {
    margin-top: 2em;
    padding-top: 2em;
    border-top: thin dotted }
 body {
   padding-left: 13em;
}